body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 130px;
    width: auto;
    object-fit: cover;
}

.card {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.contenitoreTesto {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}